* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    width: 120px;
    font-size: 15px;
}

.hero, .hero-header, .header-links, .hero-content, .hero-text, .hero-img, .gallery, .info-header, .info-images, .info-img, .quotes,.person, .action, .action-box, .footer {
    display: flex;
}

.header-logo, .header-links, .hero-text, .hero-img, .info-images {
    flex: 1;
}

.hero, .hero-text, .gallery, .info-img, .quotes {
    flex-direction: column;
}

.hero-header, .hero-content, .info-images, .action-box {
    flex-wrap: wrap;
}

.info-header, .quotes, .person {
    color: #1F2937;
}

a, .hero-desc {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}


/* hero section */

.hero {
    align-items: center;
    padding: 20px 50px 100px;
    gap: 80px;
    background-color: #1F2937;
}

.hero-header {
    align-items: baseline;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    width: 500px;
}

.header-links {
    list-style: none;
    padding: 0;
    gap: 40px;
    width: 500px;
    justify-content: flex-end;
}

.hero-content {
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}

.hero-text {
    gap: 10px;
    width: 450px;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-img {
    min-width: 500px;
    min-height: 250px;
}

.hero-img img {
    display: flex;
    flex: 1;
    height: 250px;
}

/* information section */

.gallery {
    align-items: center;
    padding: 40px 0 120px;
    gap: 50px;
}

.info-header {
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
}

.info-images {
    justify-content: center;
    gap: 60px;
}

.info-img {
    text-align: center;
    width: 160px;
    gap: 10px;
    height: 200px;
}

.info-img div {
    flex: 1;
    border: 4px solid #3882F6;
    border-radius: 15px;
}

.info-img img {
    display: flex;
    height: 160px;
    margin: 0 auto; 
}

/* quote section */

.quotes {
    background-color: #E5E7EB;
    align-items: center;
    padding: 100px 0 100px;
}

.quote {
    width: 700px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.person {
    width: 700px;
    padding-right: 35px;
    font-weight: bold;
    font-size: 20px;
    justify-content: flex-end;
}


/* action call section */

.action {
    padding: 100px 50px 100px;
    justify-content: center;
    align-items: center;
}

.action-box {
    background-color: #3882F6;
    width: 1000px;
    padding: 60px 120px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
}

.action-title {
    font-size: 20px;
    font-weight: bold;
    color: #F9FAF8;
}

.action-desc {
    color: #F9FAF8;
}

.action-box .signup-btn {
    border: 2px solid #F9FAF8;
}


.footer {
    height: 100px;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    background-color: #1F2937;
}
