* {
    box-sizing: border-box;
    margin: 0;
    font-family: Roboto, 'Segoe UI';
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* hero section */

a, .hero-desc {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero, .footer{
    background-color: #1F2937;
}

.hero, .hero-header, .header-links, .hero-content, .hero-text, .hero-img, .gallery, .info-header, .info-images, .info-img, .quotes, .action {
    display: flex;
}

.hero {
    flex-direction: column;
    align-items: center;
    padding: 20px 0 100px;
    gap: 80px;
}

.hero-header {
    width: 1000px;
    justify-content: space-between;
    align-items: baseline;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    list-style: none;
    padding: 0;
    gap: 15px;
}

.hero-content {
    width: 1000px;
    flex: 1;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}

.hero-text {
    flex-direction: column;
    gap: 10px;
    width: 450px;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.signup-btn {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    width: 120px;
}

.hero-img {
    background-color: grey;
    width: 500px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    color: white;
}

/* information section */

.gallery {
    flex-direction: column;
    align-items: center;
    padding: 40px 0 90px;
    gap: 50px;
    /* height: 450px; */
}

.info-header {
    width: 1000px;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info-images {
    flex: 1;
    /* height: 220px; */
    /* width: 800px; */
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.info-img {
    flex-direction: column;
    text-align: center;
    width: 160px;
    gap: 10px;
    height: 230px;
}

.info-img div {
    flex: 1;
    border: 4px solid #3882F6;
    border-radius: 15px;
}

/* quote section */

.quotes {
    background-color: #E5E7EB;
    flex-direction: column;
    padding: 100px 376px;
    color: #1F2937;
}

.person {
    text-align: right;
    padding-right: 40px;
    font-weight: bold;
    font-size: 20px;
    color: #1F2937;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}